In [1]:
import numpy as np
import pandas as pd # for dataframes

In [2]:
df = pd.read_csv(r'Data/DATA_RFM_111.csv')

In [3]:
df

,PEOPLE,recency,frequency,monetary,r_quartile,f_quartile,m_quartile,RFM_Score
0,บ-009,8,913,2613349.33,1,1,1,111
1,ส-018,2,2214,2458207.56,1,1,1,111
2,ต-001,9,861,2263835.46,1,1,1,111
3,ผ-001,5,933,1913875.90,1,1,1,111
4,-1,2,610,1857729.28,1,1,1,111
...,...,...,...,...,...,...,...,...
538,กอ-2480,1,19,8570.00,1,1,1,111
539,อ-086,31,23,8509.34,1,1,1,111
540,งท-7698,41,12,8500.00,1,1,1,111
541,กม-1519,20,14,8490.00,1,1,1,111
542,บต-2573,1,15,8470.00,1,1,1,111

In [4]:
df_people = df['PEOPLE']
df_people.to_csv(r'Data/PEOPLE_RFM.csv',encoding='utf-8',index=0)
df_people

0        บ-009
1        ส-018
2        ต-001
3        ผ-001
4           -1
        ...
538    กอ-2480
539      อ-086
540    งท-7698
541    กม-1519
542    บต-2573
Name: PEOPLE, Length: 543, dtype: object

In [5]:
df4 = df_people.reset_index().drop(columns='index')
df4

      PEOPLE
0      บ-009
1      ส-018
2      ต-001
3      ผ-001
4         -1
..       ...
538  กอ-2480
539    อ-086
540  งท-7698
541  กม-1519
542  บต-2573

[543 rows x 1 columns]

## Import Raw data from dataset.csv

Drop columns that using

In [6]:
df2 = pd.read_csv(r'Data/DATASET.csv')
df_re = df2.reindex(columns= ['PEOPLE','STKCOD', 'DOCNUM','DOCDAT','TRNQTY','STKDES']) 
df_re

,PEOPLE,STKCOD,DOCNUM,DOCDAT,TRNQTY,STKDES
0,ศ-001,T124/11-24 มาสเตอร์,RR1507010003,7/1/2015,1.0,ยางใน มาสเตอร์ 12.4/11-24
1,ต-001,T2156016NT860NT,RR1507020001,7/2/2015,8.0,ยางนอก NT 215/60-16 NT860
2,ต-001,T2254517NT860,RR1507020002,7/2/2015,8.0,ยางนอก NT 225/45-17 NT860
3,ต-001,T2155517NT860,RR1507020002,7/2/2015,12.0,ยางนอก NT215/55-17 NT860
4,บ-001,T2355519DHPAMZBS,RR1507040003,7/4/2015,1.0,ยางนอก BS 235/55-19 DHPAMZ
...,...,...,...,...,...,...
65530,อ-022,53-04-07-00,RN190121002,2/2/2019,1.0,ค่าอะไหล่
65531,อ-022,53-04-07-00,RN190121003,2/2/2019,10.0,ค่าอะไหล่
65532,อ-022,53-04-07-00,RN190121004,2/2/2019,5.0,ค่าอะไหล่
65533,อ-022,53-04-07-00,RN190121005,2/2/2019,1.0,ค่าอะไหล่
65534,อ-022,53-04-07-00,RN190121006,2/2/2019,1.0,ค่าอะไหล่

Select data form people RFM that point = 111

In [7]:
x = 0
for col_idx,data in df4.iterrows():

    df88 = data["PEOPLE"]

    condition_1 = df_re['PEOPLE'] == df88
    df_re[ condition_1 ]

    df_mix2 = df_re[ condition_1 ]
    
    if(x<1):
        df_mix3 = df_re[ condition_1 ]
        x = x+1
    else:
        df_mix3 = pd.concat([df_mix3,df_mix2],ignore_index = True)
        df_mix3.reset_index() 
    df_mix4 = df_mix3

In [8]:
df_mix4

,PEOPLE,STKCOD,DOCNUM,DOCDAT,TRNQTY,STKDES
0,บ-009,T1956015ASSURGY,RN1509170006,9/17/2015,5.0,ยางนอก GY 195/60-15 ASSUR
1,บ-009,T1856015TZ700FS,RR170228001,3/1/2017,4.0,ยางนอก FS 185/60-15 TZ700
2,บ-009,T1856015TZ700FS,RR170227001,3/1/2017,2.0,ยางนอก FS 185/60-15 TZ700
3,บ-009,T1856015TZ700FS,RN170227004,3/3/2017,4.0,ยางนอก FS 185/60-15 FS100
4,บ-009,T2453520K452FK,RN170727002,7/28/2017,12.0,ยางนอก FK 245/35-20 FK452
...,...,...,...,...,...,...
13903,บต-2573,M-SERVICE-01,HN1901092,2/1/2019,1.0,ค่าบริการ
13904,บต-2573,M-08-02-0002,HN1901092,2/1/2019,1.0,ตั้งศูนย์
13905,บต-2573,S-LAMP,HN1901092,2/1/2019,1.0,หลอดไฟหน้า-ขวา
13906,บต-2573,B-3K-VS120R,HN1901092,2/1/2019,1.0,แบตเตอรี่ 3K VS120R:รถยนต์ 95D31R
13907,บต-2573,41-00-06-00,HN1901092,2/1/2019,1.0,เทิร์นแบตเตอรี่เก่า

In [9]:
df_mix4.to_csv(r'Data/DATASET_RFM.csv', encoding='utf-8',index=False)

## set DOCNUM

In [10]:
df = pd.read_csv(r'Data/DATASET_RFM.csv')

df.index = df.index.rename('')
df['DOCNUM_ID'] = df.index
re_df=df.reindex(columns= ['DOCNUM_ID','PEOPLE', 'STKCOD', 'DOCNUM','DOCDAT','TRNQTY','STKDES','NETVAL'])
re_df

,DOCNUM_ID,PEOPLE,STKCOD,DOCNUM,DOCDAT,TRNQTY,STKDES,NETVAL
,,,,,,,,
0,0,บ-009,T1956015ASSURGY,RN1509170006,9/17/2015,5.0,ยางนอก GY 195/60-15 ASSUR,NaN
1,1,บ-009,T1856015TZ700FS,RR170228001,3/1/2017,4.0,ยางนอก FS 185/60-15 TZ700,NaN
2,2,บ-009,T1856015TZ700FS,RR170227001,3/1/2017,2.0,ยางนอก FS 185/60-15 TZ700,NaN
3,3,บ-009,T1856015TZ700FS,RN170227004,3/3/2017,4.0,ยางนอก FS 185/60-15 FS100,NaN
4,4,บ-009,T2453520K452FK,RN170727002,7/28/2017,12.0,ยางนอก FK 245/35-20 FK452,NaN
...,...,...,...,...,...,...,...,...
13903,13903,บต-2573,M-SERVICE-01,HN1901092,2/1/2019,1.0,ค่าบริการ,NaN
13904,13904,บต-2573,M-08-02-0002,HN1901092,2/1/2019,1.0,ตั้งศูนย์,NaN
13905,13905,บต-2573,S-LAMP,HN1901092,2/1/2019,1.0,หลอดไฟหน้า-ขวา,NaN
13906,13906,บต-2573,B-3K-VS120R,HN1901092,2/1/2019,1.0,แบตเตอรี่ 3K VS120R:รถยนต์ 95D31R,NaN
13907,13907,บต-2573,41-00-06-00,HN1901092,2/1/2019,1.0,เทิร์นแบตเตอรี่เก่า,NaN

In [11]:
df_re = df.reindex(columns=['DOCNUM'])
df_re

             DOCNUM

0      RN1509170006
1       RR170228001
2       RR170227001
3       RN170227004
4       RN170727002
...             ...
13903     HN1901092
13904     HN1901092
13905     HN1901092
13906     HN1901092
13907     HN1901092

[13908 rows x 1 columns]

คัด DOCNUM ออกมาให้เป็นลำดับแบบไม่ซ้ำ

In [12]:
df_re2 = df_re.drop_duplicates(subset='DOCNUM')
df_re2 = df_re2.reset_index()
df_re2.index += 1
df_re2.index = df_re2.index.rename('')
df_re2['DOCNUM_ID'] = df_re2.index
df_re3 = df_re2.reindex(columns=['DOCNUM_ID', 'DOCNUM'])
df_re3

      DOCNUM_ID        DOCNUM

1             1  RN1509170006
2             2   RR170228001
3             3   RR170227001
4             4   RN170227004
5             5   RN170727002
...         ...           ...
4898       4898     HN1813721
4899       4899     HN1801307
4900       4900     HN1812844
4901       4901     HN1900456
4902       4902     HN1901092

[4902 rows x 2 columns]

ทำ loop เพื่อทำการ set DOCNUM ให้ให้สำหรับขั้นตอน AR

In [13]:
x = 1
for col_idx,data in df_re3.iterrows():

    df88 = data["DOCNUM"]
    condition_1 = re_df['DOCNUM'] == df88
    re_df[ condition_1 ]
    df_set = re_df[ condition_1 ]
    df_set['DOCNUM_ID'] =x
    
    #x = x+1
    if(x==1):
        df_mi = df_set
        x = x+1
    else:
        df_mi = pd.concat([df_mi,df_set],ignore_index = True)
        df_mi.reset_index() 
        x=x+1

C:\Users\TIDE\AppData\Local\Temp\ipykernel_20012\1478550560.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_set['DOCNUM_ID'] =x

In [14]:
df_mi

,DOCNUM_ID,PEOPLE,STKCOD,DOCNUM,DOCDAT,TRNQTY,STKDES,NETVAL
0,1,บ-009,T1956015ASSURGY,RN1509170006,9/17/2015,5.0,ยางนอก GY 195/60-15 ASSUR,NaN
1,2,บ-009,T1856015TZ700FS,RR170228001,3/1/2017,4.0,ยางนอก FS 185/60-15 TZ700,NaN
2,3,บ-009,T1856015TZ700FS,RR170227001,3/1/2017,2.0,ยางนอก FS 185/60-15 TZ700,NaN
3,4,บ-009,T1856015TZ700FS,RN170227004,3/3/2017,4.0,ยางนอก FS 185/60-15 FS100,NaN
4,5,บ-009,T2453520K452FK,RN170727002,7/28/2017,12.0,ยางนอก FK 245/35-20 FK452,NaN
...,...,...,...,...,...,...,...,...
13903,4902,บต-2573,M-SERVICE-01,HN1901092,2/1/2019,1.0,ค่าบริการ,NaN
13904,4902,บต-2573,M-08-02-0002,HN1901092,2/1/2019,1.0,ตั้งศูนย์,NaN
13905,4902,บต-2573,S-LAMP,HN1901092,2/1/2019,1.0,หลอดไฟหน้า-ขวา,NaN
13906,4902,บต-2573,B-3K-VS120R,HN1901092,2/1/2019,1.0,แบตเตอรี่ 3K VS120R:รถยนต์ 95D31R,NaN
13907,4902,บต-2573,41-00-06-00,HN1901092,2/1/2019,1.0,เทิร์นแบตเตอรี่เก่า,NaN

In [15]:
df_mi.to_csv(r'Data/NORMAL_DATA_RFM.csv',encoding='utf-8',index=False)

# set DATA PRODUCT

เลือก columns STKCOD และ STKDES

In [16]:
df_re=df.reindex(columns= ['STKCOD', 'STKDES']) 
df_re

                STKCOD                             STKDES

0      T1956015ASSURGY          ยางนอก GY 195/60-15 ASSUR
1      T1856015TZ700FS          ยางนอก FS 185/60-15 TZ700
2      T1856015TZ700FS          ยางนอก FS 185/60-15 TZ700
3      T1856015TZ700FS          ยางนอก FS 185/60-15 FS100
4       T2453520K452FK          ยางนอก FK 245/35-20 FK452
...                ...                                ...
13903     M-SERVICE-01                          ค่าบริการ
13904     M-08-02-0002                          ตั้งศูนย์
13905           S-LAMP                     หลอดไฟหน้า-ขวา
13906      B-3K-VS120R  แบตเตอรี่ 3K VS120R:รถยนต์ 95D31R
13907      41-00-06-00                เทิร์นแบตเตอรี่เก่า

[13908 rows x 2 columns]

Drop record ที่ข้อมูลซ้ำกัน

In [17]:
df_set = df_re.drop_duplicates(subset='STKCOD')
df_set = df_set.reset_index()
df_set

                           STKCOD                                      STKDES
0         0       T1956015ASSURGY                   ยางนอก GY 195/60-15 ASSUR
1         1       T1856015TZ700FS                   ยางนอก FS 185/60-15 TZ700
2         4        T2453520K452FK                   ยางนอก FK 245/35-20 FK452
3         5         T2155517NT860                    ยางนอก NT215/55-17 NT860
4         6     T2654022KL12KUMHO                 ยางนอก KUMHO 265/40-22 KL12
...     ...                   ...                                         ...
1342  13752             BARING-01                         พลาสติกอุดกรองโซล่า
1343  13755     T2356017HT152GITI         ยางนอก GITI 235/60-17 HT152  ปี1418
1344  13787      T2157015R623BS00        ยางนอก BS 215 / 70 -15 R623   ปี2417
1345  13868  S555IS00ASCO DG-020U               แผ่นรองเบรคซ้าย-ขวา+ค่าบริการ
1346  13896          T2154517G280  ยางนอก GITI 215/45-17 G280  ปี1118 คู่หน้า

[1347 rows x 3 columns]

In [18]:
df_set.to_csv(r'Data/DATA_PRODUCT.csv', encoding='utf-8')