In [16]:
import numpy as np
import pandas as pd # for dataframes

In [17]:
df = pd.read_csv(r'Data/DATA_RFM_111.csv')

In [18]:
df

,PEOPLE,recency,frequency,monetary,r_quartile,f_quartile,m_quartile,RFM_Score
0,บ-001,0,5888,14625303.95,1,1,1,111
1,ด-001,0,3736,7939357.63,1,1,1,111
2,อ-008,0,2097,4934352.89,1,1,1,111
3,บ-009,8,913,2613349.33,1,1,1,111
4,ส-018,2,2214,2458207.56,1,1,1,111
...,...,...,...,...,...,...,...,...
567,กอ-2480,1,19,8570.00,1,1,1,111
568,อ-086,31,23,8509.34,1,1,1,111
569,งท-7698,41,12,8500.00,1,1,1,111
570,กม-1519,20,14,8490.00,1,1,1,111
571,บต-2573,1,15,8470.00,1,1,1,111

In [19]:
df_people = df['PEOPLE']
df_people.to_csv(r'Data/PEOPLE_RFM.csv',encoding='utf-8',index=0)
df_people

0        บ-001
1        ด-001
2        อ-008
3        บ-009
4        ส-018
        ...
567    กอ-2480
568      อ-086
569    งท-7698
570    กม-1519
571    บต-2573
Name: PEOPLE, Length: 572, dtype: object

In [20]:
df4 = df_people.reset_index().drop(columns='index')
df4

      PEOPLE
0      บ-001
1      ด-001
2      อ-008
3      บ-009
4      ส-018
..       ...
567  กอ-2480
568    อ-086
569  งท-7698
570  กม-1519
571  บต-2573

[572 rows x 1 columns]

## Import Raw data from dataset.csv

Drop columns that using

In [22]:
df2 = pd.read_csv(r'Data/DATASET.csv')
df_re = df2.reindex(columns= ['PEOPLE','STKCOD', 'DOCNUM', 'TRNQTY','STKDES']) 
df_re

,PEOPLE,STKCOD,DOCNUM,TRNQTY,STKDES
0,ศ-001,T124/11-24 มาสเตอร์,RR1507010003,1.0,ยางใน มาสเตอร์ 12.4/11-24
1,ต-001,T2156016NT860NT,RR1507020001,8.0,ยางนอก NT 215/60-16 NT860
2,ต-001,T2254517NT860,RR1507020002,8.0,ยางนอก NT 225/45-17 NT860
3,ต-001,T2155517NT860,RR1507020002,12.0,ยางนอก NT215/55-17 NT860
4,บ-001,T2355519DHPAMZBS,RR1507040003,1.0,ยางนอก BS 235/55-19 DHPAMZ
...,...,...,...,...,...
65530,อ-022,53-04-07-00,RN190121002,1.0,ค่าอะไหล่
65531,อ-022,53-04-07-00,RN190121003,10.0,ค่าอะไหล่
65532,อ-022,53-04-07-00,RN190121004,5.0,ค่าอะไหล่
65533,อ-022,53-04-07-00,RN190121005,1.0,ค่าอะไหล่
65534,อ-022,53-04-07-00,RN190121006,1.0,ค่าอะไหล่

Select data form people RFM that point = 111

In [23]:
x = 0
for col_idx,data in df4.iterrows():

    df88 = data["PEOPLE"]

    condition_1 = df_re['PEOPLE'] == df88
    df_re[ condition_1 ]

    df_mix2 = df_re[ condition_1 ]
    
    if(x<1):
        df_mix3 = df_re[ condition_1 ]
        x = x+1
    else:
        df_mix3 = pd.concat([df_mix3,df_mix2],ignore_index = True)
        df_mix3.reset_index() 
    df_mix4 = df_mix3

In [24]:
df_mix4

,PEOPLE,STKCOD,DOCNUM,TRNQTY,STKDES
0,บ-001,T2355519DHPAMZBS,RR1507040003,1.0,ยางนอก BS 235/55-19 DHPAMZ
1,บ-001,T2355519DHPAMZBS,RR1507090001,1.0,ยางนอก BS 235/55-19 DHPAMZ
2,บ-001,T2257015EP850BS00,RR1507280006,5.0,ยางนอก BS 225/70-15 EP850
3,บ-001,T2354018TZ700FS,RR1507280009,2.0,ยางนอก FS 235/40-18 TZ700
4,บ-001,T2154517GS32BS,RR1508250002,4.0,ยางนอก BS 215/45-17 MY02
...,...,...,...,...,...
20640,บต-2573,M-SERVICE-01,HN1901092,1.0,ค่าบริการ
20641,บต-2573,M-08-02-0002,HN1901092,1.0,ตั้งศูนย์
20642,บต-2573,S-LAMP,HN1901092,1.0,หลอดไฟหน้า-ขวา
20643,บต-2573,B-3K-VS120R,HN1901092,1.0,แบตเตอรี่ 3K VS120R:รถยนต์ 95D31R
20644,บต-2573,41-00-06-00,HN1901092,1.0,เทิร์นแบตเตอรี่เก่า

In [26]:
df_mix4.to_csv(r'Data/DATASET_RFM.csv', encoding='utf-8',index=False)

## set DOCNUM

In [27]:
df = pd.read_csv(r'Data/DATASET_RFM.csv')

df.index = df.index.rename('')
df['DOCNUM_ID'] = df.index
re_df=df.reindex(columns= ['DOCNUM_ID','PEOPLE', 'STKCOD', 'DOCNUM','TRNQTY','STKDES'])
re_df

,DOCNUM_ID,PEOPLE,STKCOD,DOCNUM,TRNQTY,STKDES
,,,,,,
0,0,บ-001,T2355519DHPAMZBS,RR1507040003,1.0,ยางนอก BS 235/55-19 DHPAMZ
1,1,บ-001,T2355519DHPAMZBS,RR1507090001,1.0,ยางนอก BS 235/55-19 DHPAMZ
2,2,บ-001,T2257015EP850BS00,RR1507280006,5.0,ยางนอก BS 225/70-15 EP850
3,3,บ-001,T2354018TZ700FS,RR1507280009,2.0,ยางนอก FS 235/40-18 TZ700
4,4,บ-001,T2154517GS32BS,RR1508250002,4.0,ยางนอก BS 215/45-17 MY02
...,...,...,...,...,...,...
20640,20640,บต-2573,M-SERVICE-01,HN1901092,1.0,ค่าบริการ
20641,20641,บต-2573,M-08-02-0002,HN1901092,1.0,ตั้งศูนย์
20642,20642,บต-2573,S-LAMP,HN1901092,1.0,หลอดไฟหน้า-ขวา
20643,20643,บต-2573,B-3K-VS120R,HN1901092,1.0,แบตเตอรี่ 3K VS120R:รถยนต์ 95D31R
20644,20644,บต-2573,41-00-06-00,HN1901092,1.0,เทิร์นแบตเตอรี่เก่า

In [28]:
df_re = df.reindex(columns=['DOCNUM'])
df_re

             DOCNUM

0      RR1507040003
1      RR1507090001
2      RR1507280006
3      RR1507280009
4      RR1508250002
...             ...
20640     HN1901092
20641     HN1901092
20642     HN1901092
20643     HN1901092
20644     HN1901092

[20645 rows x 1 columns]

คัด DOCNUM ออกมาให้เป็นลำดับแบบไม่ซ้ำ

In [29]:
df_re2 = df_re.drop_duplicates(subset='DOCNUM')
df_re2 = df_re2.reset_index()
df_re2.index += 1
df_re2.index = df_re2.index.rename('')
df_re2['DOCNUM_ID'] = df_re2.index
df_re3 = df_re2.reindex(columns=['DOCNUM_ID', 'DOCNUM'])
df_re3

      DOCNUM_ID        DOCNUM

1             1  RR1507040003
2             2  RR1507090001
3             3  RR1507280006
4             4  RR1507280009
5             5  RR1508250002
...         ...           ...
9855       9855     HN1813721
9856       9856     HN1801307
9857       9857     HN1812844
9858       9858     HN1900456
9859       9859     HN1901092

[9859 rows x 2 columns]

ทำ loop เพื่อทำการ set DOCNUM ให้ให้สำหรับขั้นตอน AR

In [30]:
x = 1
for col_idx,data in df_re3.iterrows():

    df88 = data["DOCNUM"]
    condition_1 = re_df['DOCNUM'] == df88
    re_df[ condition_1 ]
    df_set = re_df[ condition_1 ]
    df_set['DOCNUM_ID'] =x
    
    #x = x+1
    if(x==1):
        df_mi = df_set
        x = x+1
    else:
        df_mi = pd.concat([df_mi,df_set],ignore_index = True)
        df_mi.reset_index() 
        x=x+1

<ipython-input-30-9707a0283db9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_set['DOCNUM_ID'] =x

In [31]:
df_mi

,DOCNUM_ID,PEOPLE,STKCOD,DOCNUM,TRNQTY,STKDES
0,1,บ-001,T2355519DHPAMZBS,RR1507040003,1.0,ยางนอก BS 235/55-19 DHPAMZ
1,2,บ-001,T2355519DHPAMZBS,RR1507090001,1.0,ยางนอก BS 235/55-19 DHPAMZ
2,3,บ-001,T2257015EP850BS00,RR1507280006,5.0,ยางนอก BS 225/70-15 EP850
3,4,บ-001,T2354018TZ700FS,RR1507280009,2.0,ยางนอก FS 235/40-18 TZ700
4,5,บ-001,T2154517GS32BS,RR1508250002,4.0,ยางนอก BS 215/45-17 MY02
...,...,...,...,...,...,...
20640,9859,บต-2573,M-SERVICE-01,HN1901092,1.0,ค่าบริการ
20641,9859,บต-2573,M-08-02-0002,HN1901092,1.0,ตั้งศูนย์
20642,9859,บต-2573,S-LAMP,HN1901092,1.0,หลอดไฟหน้า-ขวา
20643,9859,บต-2573,B-3K-VS120R,HN1901092,1.0,แบตเตอรี่ 3K VS120R:รถยนต์ 95D31R
20644,9859,บต-2573,41-00-06-00,HN1901092,1.0,เทิร์นแบตเตอรี่เก่า

In [32]:
df_mi.to_csv(r'Data/NORMAL_DATA_RFM.csv',encoding='utf-8',index=False)

# set DATA PRODUCT

เลือก columns STKCOD และ STKDES

In [37]:
df_re=df.reindex(columns= ['STKCOD', 'STKDES']) 
df_re

                  STKCOD                             STKDES

0       T2355519DHPAMZBS         ยางนอก BS 235/55-19 DHPAMZ
1       T2355519DHPAMZBS         ยางนอก BS 235/55-19 DHPAMZ
2      T2257015EP850BS00          ยางนอก BS 225/70-15 EP850
3        T2354018TZ700FS          ยางนอก FS 235/40-18 TZ700
4         T2154517GS32BS           ยางนอก BS 215/45-17 MY02
...                  ...                                ...
20640       M-SERVICE-01                          ค่าบริการ
20641       M-08-02-0002                          ตั้งศูนย์
20642             S-LAMP                     หลอดไฟหน้า-ขวา
20643        B-3K-VS120R  แบตเตอรี่ 3K VS120R:รถยนต์ 95D31R
20644        41-00-06-00                เทิร์นแบตเตอรี่เก่า

[20645 rows x 2 columns]

Drop record ที่ข้อมูลซ้ำกัน

In [38]:
df_set = df_re.drop_duplicates(subset='STKCOD')
df_set = df_set.reset_index()
df_set

,,STKCOD,STKDES
0,0,T2355519DHPAMZBS,ยางนอก BS 235/55-19 DHPAMZ
1,2,T2257015EP850BS00,ยางนอก BS 225/70-15 EP850
2,3,T2354018TZ700FS,ยางนอก FS 235/40-18 TZ700
3,4,T2154517GS32BS,ยางนอก BS 215/45-17 MY02
4,5,T2457016R16FS,ยางนอก FS 245/70-16 LE02
...,...,...,...
1779,20134,MOBIL15W50,"น้ำมันเครื่อง MOBIL 1 5W50 10,000โล"
1780,20215,SAE40TOTOA,"น้ืำมันเครื่อง SAE 40 TOTAL 10,000โล(ดีเซล)6ลิตร"
1781,20489,BARING-01,พลาสติกอุดกรองโซล่า
1782,20524,T2157015R623BS00,ยางนอก BS 215 / 70 -15 R623 ปี2417
1783,20605,S555IS00ASCO DG-020U,แผ่นรองเบรคซ้าย-ขวา+ค่าบริการ

In [39]:
df_set.to_csv(r'Data/DATA_PRODUCT.csv', encoding='utf-8')